parameters:
    filenamePattern: VPOuest_IDD162_%s_%s
    ftpHost: sftp.eurotaxglass.fr
    sshUser: vpouest
    sshKey: /home/appventus/.ssh/id_rsa
    mysqlDatabase: eurotax-import
    mysqlUsername: root
    mysqlPass: root
    warnEmails: "vpauto@appventus.com; ehamelin@vpauto.fr"
